* {
    margin: 0;
    padding: 0;
    font-family: italic;
}

body {
    background-color: #fcfff5;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

header {
    background-color: #193441;
    color: #fff;
    width: 100%;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-size: 30px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-size: 25px;
    padding-bottom: 25px;
    text-align: center;
}

figure {
    width: 500px;
    margin-bottom: 25px;
    border: 1px solid #000;
    background-color: #fff;
}

figure, p {
    padding-top: 10px;
    text-align: center;
}

img {
    width: 470px;
    /* height: 350px; */
    padding-top: 8px;
}

footer {
    background-color: #91aa9d;
    color: #fff;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}