* {
    margin: 0;
    padding: 0;
}

body {
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    width: 960px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 20px;
    border-radius: 4rem;
}

img {
    width: 240px;
    height: 160px;
}

figcaption {
    font-size: 17px;
}

hr {
    margin: auto;
    width: 280px;
    border: 1px solid #000;
    margin-bottom: 15px;
}
a {
    font-size: 18px;
}

.container {
    width: 960px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    border: 1px dashed #000;
    display: inline-block;
    width: 300px;
    border-radius: 25px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 15px;
}

.texto {
    margin-left: 10px;
    margin-bottom: 15px;
}

.texto h2 {
    margin-bottom: 15px;
}

.texto p {
    width: 100%;
    margin-bottom: 15px;
}